.heading{

    background: orangered;
    padding: 25px;
    box-shadow: 5px 5px 5px grey;
    
    width:100%;
    
}

#note{

    font-size: 15px;
    
}

.copy_right_footer{


    position: fixed;
    background-color: black;
    color: white;
    bottom: 0;
    text-align: center;
    line-height: 4;
    width: 100%;
   box-shadow: 5px 5px 10pxpx grey;
}
canvas{

    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5x 5x 5x grey;
    background-color: grey;
    }